@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.story-maker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-maker h1 {
  font-family: "Boogaloo";
  font-size: 4.5rem;
}

.topic-selection {
  font-family: "Boogaloo";
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-top: -1.25rem;
}

.topic-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.topic-list button {
  font-family: "Boogaloo";
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  width: 24.7%;
  margin: 0.15%;
  height: 6.5rem;
  border-radius: 0.25rem;
}

.divider {
  margin-top: 2rem;
  margin-bottom: 1.3rem;
  width: 5rem;
  border-top: 0.25rem dashed rgb(106, 114, 130);
}

.word-form {
  margin-top: 1rem;
  background-color: #2da343;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.word-form p {
  font-family: "Boogaloo";
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
}

.word-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  width: 24%;
  border-radius: 0.25rem;
  background-color: white;
  color: #2da343;
  font-family: "Open Sans", sans-serif;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  font-size: 1.5rem;
  border: none;
  width: 93%;
  height: 2.5rem;
  padding: 3%;
  margin: 0.5%;
}

input[type="text"]::placeholder {
  font-family: "Boogaloo";
  font-size: 1.5rem;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 450;
  color: #ec2a2a;
  /* color: white; */
  margin-left: 5%;
  margin-bottom: 0.5rem;
}

.input-wrapper div {
  margin: 0.5%;
  width: 98%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Boogaloo";
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  border-top: 0.01rem dashed #2da343;
}

.generate-btn {
  font-family: "Boogaloo";
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: #ec2a2a;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0.75rem 4rem;
  border-radius: 0.25rem;
  margin: 2rem;
}

@media (max-width: 768px) {
  .topic-list button {
    width: 49.5%;
  }

  .input-wrapper {
    width: 49%;
  }
}

@media (max-width: 480px) {
  .topic-list button {
    width: 100%;
  }

  .input-wrapper {
    width: 100%;
  }
}
